* {
	box-sizing: border-box; 
	color:  white;
	font-family: Inter, sans-serif !important;
}
html,
body,
#root {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #1d1d1d;
}
#root {

	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
} 