.course-list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: nowrap;
}
.home-page-course-card {
	background-color: #212121;
	border: 1px solid #404040;
	border-radius: 20px;
	margin-bottom: 24px;
	padding: 30px;
	gap: 20px;
	cursor: pointer;
	display: flex;
	align-items: center;
	position: relative;
	max-width: 1320px;
	width: 100%;
	.main { 
		display: flex;
		gap: 20px;
		.desc {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-direction: column;
			flex-wrap: nowrap;
			margin-left: 20px; 
			.course-name {
				align-items: center;
				color:  #CACACA;
				display: flex;
				font-size: 16px;
				font-style: normal;
				font-weight: 600;
				line-height: 20px;
				margin-top: 20px;
				.checkmark {
					height: 18px;
					margin-left: 15px;
					width: 36px;
					overflow-clip-margin: content-box;
					overflow: hidden;
					fill: none;
				}
			}
			.dates {
				margin: 0;
				display: flex;
				gap: 15px;
			}
			.dates .from,
			.dates .to {
				.locked,
				.unlocked {
					margin-right: 4px;
				}
				color: #676767;
				font-size: 12px;
				font-weight: 500;
				line-height: 18px;
				display: inline-block;
			}
			.apercu {
				margin-top: 20px;
				font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
					Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
					"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
					"Noto Color Emoji";
				button {
					align-items: center;
					background-color: initial;
					border: none;
					border-radius: 8px;
					box-shadow: none;

					display: flex;
					font-size: 14px;
					font-weight: 500;
					justify-self: flex-end;
					align-self: flex-end;
					line-height: 18px;

					height: 50px;
					width: 208px;
                    text-decoration: none;
					span {
                        text-decoration: none;
						color: #87b4ff;
					}
                    svg {
                        height: 18px;
                        margin-left: 10px;
                        width: 9px;
                        path {
                            fill:#676767
                        }
                    }
				}
			}
		}
		img {
			border: 1px solid var(--g4-color);
			border-radius: 18px;
			object-fit: cover;
			height: 158px;
			width: 158px;
		}
	}
	.certif-or-continue {
		margin-left: auto;
        position: absolute;

        right: 0;
	}
}
